@import 'abstracts/mixins';

:host{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-brand);

  @include backdrop('/assets/images/ic-1200x740.jpeg');
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.logo {
  display: block;

  img {
    display: block;
    height: 40px;
  }
}
