<ng-container *ngIf="(modal$ | async) as modal">
<div [@fadeInOut]="modal.show ? 'in' : 'out'" class="modal-overlay" [class.show]="modal.show" [class.closeable]="modal.closeable" (click)="closeModal(modal.closeable)">
  <div class="modal-dialog" role="dialog">
    <button *ngIf="modal.closeable" type="button" class="button button-menu show" (click)="closeModal(modal.closeable)">
      <span><i class="sr-only">Close</i></span>
    </button>
    <div id="modal-content" class="modal-content">
      <!-- Generated modal content -->
    </div>
  </div>
</div>
</ng-container>
