@import 'abstracts/mixins';

:host {
  ::ng-deep {
    .card {
      @include breakpoint($mobile) {
        height: auto;
        margin: -1px -20px 0;
        background: linear-gradient(to bottom, var(--color-brand) 50%, var(--color-bg) 50%);
        padding: 20px;
      }

      &-content {
        position: relative;
        background: var(--color-bg);
        border-radius: 5px;
        overflow: hidden;

        @include breakpoint($mobile) {
          box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
        }

        @include breakpoint($desktop) {
          border: solid 1px #cccccc;
        }
      }

      &-body {
        position: relative;
        padding: 20px;

        & * {
          position: relative;
          z-index: 1;
        }

        @include backdrop('/assets/images/ic-1200x740.jpeg');
      }

      &-title {
        display: flex;
        align-items: center;
        color: var(--color-primary);
        text-align: center;
        font-size: 3rem;

        &-description {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          text-shadow: 0 0 10px #fff;
        }

        &-label {
          font-size: 2rem;
          margin-bottom: 4px;
        }

        &-sublabel {
          font-size: 1.2rem;
        }
      }

      &-progress {
        margin-top: 5px;
      }

      &-footer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: stretch;

        &-item {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 20px;
          font-size: 1.2rem;

          &:not(:last-of-type)::after {
            content: '';
            display: block;
            height: 50%;
            position: absolute;
            right: 0;
            border-right: solid 1px #ccc;
          }

          &-result {
            display: flex;
            align-items: center;
            margin-top: 8px;
            font-size: 1.4rem;
            font-family: var(--font-family-bold);
            font-weight: 700;
          }
        }
      }
    }
  }
}
