.button {
  display: inline-block;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-family-light);
  border: solid 1px transparent;
  background: transparent;
  color: var(--color-text);
  cursor: pointer;
  transition: all .2s ease-in-out;
  outline: none !important;
  text-decoration: none !important;

  & * {
    position: relative;
  }

  &:focus,
  &:active {
    box-shadow: var(--color-primary) 0 0 0 2px !important;
  }

  &[disabled],
  &.disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &-primary {
    background: var(--color-primary);
    color: var(--color-primary-contrast);
  }

  &-secondary {
    background: var(--color-secondary);
    color: var(--color-secondary-contrast);
  }

  &-tertiary {
    background: var(--color-tertiary);
    color: var(--color-tertiary-contrast);
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;

    @include breakpoint($desktop) {
      top: 20px;
      right: 20px;
      font-size: 35px;
    }
  }

  $button-selector-height: 60px;

  &-selector {
    width: 100%;
    height: $button-selector-height;
    margin-bottom: 15px;
    padding-left: $button-selector-height;
    padding-right: $button-selector-height;
    border-radius: $button-selector-height / 2;
    background: var(--color-secondary);
    color: var(--color-secondary-contrast);

    @include breakpoint($tablet) {
      margin-bottom: 40px;
    }

    @include backdrop('/assets/images/wagon.jpg');

    &:hover:not([disabled]):not(.disabled),
    &:active:not([disabled]):not(.disabled),
    &:focus:not([disabled]):not(.disabled),
    &.selected:not([disabled]):not(.disabled) {
      transform: scale(0.95);
    }

    &.selected {
      background: var(--color-error) !important;
    }

    &.success {
      background: var(--color-success) !important;
    }

    .letter {
      position: absolute;
      width: $button-selector-height;
      height: $button-selector-height;
      border: solid 1px transparent;
      background: rgba(0, 0, 0, .2);
      border-radius: 50%;
      top: -1px;
      left: -1px;
      font-size: $button-selector-height * 0.75;
      line-height: $button-selector-height;
    }
  }
}
