<div [@fadeInOut]="loaded ? 'in' : 'out'" class="answer-selector" *ngIf="question" [class.has-selected]="selectedAnswerId">
  <button
    type="button"
    class="button button-selector"
    *ngFor="let answer of question.answers; let index = index"
    [disabled]="disableButtons"
    [ngClass]="{
        'selected': answer.id === selectedAnswerId,
        'success': answer.id === answerInfo?.answerId
      }"
    (click)="selectAnswer(answer)">
    <span class="letter">{{numbering[index]}}</span>{{answer.label[selectedLanguage] || answer.label[defaultLanguage]}}
  </button>
</div>
