<div [@fadeInOut]="loaded  ? 'in' : 'out'" class="category-selector" [class.has-selected]="selectedCategoryId">
  <button
    type="button"
    class="button button-selector"
    *ngFor="let category of categories; let index = index"
    [ngClass]="{'selected success': category.id === selectedCategoryId}"
    [disabled]="disableButtons"
    (click)="selectCategory(category)">
    <span class="letter">{{numbering[index]}}</span>{{category.label[selectedLanguage$ | async] || category.label[defaultLanguage]}}
  </button>
</div>
