.answer-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@keyframes pop {
  0% { transform: scale3d(10, 10, 1) rotateZ(45deg); opacity: 0; }
  50% { transform: scale3d(0.5, 0.5, 1) rotateZ(45deg); opacity: 1; }
  100% { transform: scale3d(1, 1, 1) rotateZ(45deg); }
}

.answer {
  &-status {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    top: -4px;
    right: 0;
    height: 65px;
    width: 65px;
    transform: rotateZ(45deg);
    animation: pop 1s ease;
    background: inherit;
    border-radius: 4px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 5px;
      border-radius: 3px;
      background: var(--color-tertiary);
      width: 30px;
    }

    &.success {
      &::before {
        transform: rotateZ(90deg) translate3d(-3px, -3px, 0);
      }

      &::after {
        transform: translate3d(-3px, 10px, 0) scaleX(.5);
      }
    }

    &.error {
      &::before {
        transform: rotateZ(90deg);
      }
    }
  }
}
