@import '../../../../../styles/abstracts/variables';

@keyframes slideDown {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.snackbar {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 13px 40px 15px 20px;
  background: var(--color-info);
  color: var(--color-text);
  transition: all 0.5s ease-in-out;
  animation: slideDown .5s linear;
  margin-bottom: 15px;

  &-outlet {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 30px;
  }

  &-error {
    background: var(--color-error);
  }

  &-warning {
    background: var(--color-warning);
  }

  &-info {
    background: var(--color-info);
  }

  &-success {
    background: var(--color-success);
  }

  .button {
    top: 0;
    right: 0;
  }
}
