@import 'abstracts/mixins';

:host {
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  align-self: stretch;
  height: 100%;
}

