@import 'abstracts/mixins';

.button-group {
  display: flex;
  flex-wrap: nowrap;
  border: solid 1px var(--color-secondary);
  border-radius: 20px;
  overflow: hidden;

  ::ng-deep {
    .button {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      color: var(--color-secondary);

      &.active {
        background: var(--color-secondary);
        color: var(--color-secondary-contrast);
      }

      @include breakpoint($mobile) {
        font-size: 1rem;
      }

      &:not(:last-of-type) {
        border-right: solid 1px var(--color-secondary);
      }
    }
  }
}
