@import 'abstracts/mixins';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background: var(--color-brand);

  &-title {
    margin: 0;
  }

  &-logo {
    display: block;
    margin-left: 20px;

    img {
      display: block;
      height: 30px;
    }
  }

  &-score {
    margin: 0 auto;
  }

  &-navigation {
    justify-content: flex-end;
    align-items: center;
  }

  &-menu-button {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70px;
    z-index: 109;

    &::before,
    &::after {
      content: '';
    }

    &::before,
    & span {
      margin-bottom: 5px;
    }

    &::before,
    &::after,
    & span {
      position: relative;
      display: block;
      height: 5px;
      border-radius: 0;
      background: var(--color-tertiary);
      width: 30px;
      transition: all 0.5s ease;
    }

    &.show {
      &::before,
      &::after,
      span {
        background: var(--color-secondary);
      }

      &::before {
        transform: rotateZ(45deg);
        top: 10px;
      }

      &::after {
        transform: rotateZ(-45deg);
        top: -10px;
      }

      span {
        width: 0;
      }
    }
  }
}

