$score-size: 100px;

.score {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $score-size;
  width: $score-size * 3;
  background: var(--color-secondary);
  color: var(--color-secondary-contrast);
  border-radius: $score-size / 2;

  &-text {
    text-align: center;
    font-size: $score-size / 2;
    margin: 0;
  }
}
