@import 'variables';

@mixin breakpoint($breakpoint) {
  @media screen and ($breakpoint) {
    @content;
  }
}

@mixin backdrop($image) {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url($image) 0 0 no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    opacity: 0.15;
  }

  & * {
    position: relative;
  }
}
