$screen-xxs-max: 480px  !default;
$screen-sm-min:  768px  !default;
$screen-md-min:  992px  !default;
$screen-lg-min:  1200px !default;
$screen-xs-max: $screen-sm-min - 1px !default;
$screen-sm-max: $screen-md-min - 1px !default;
$screen-md-max: $screen-lg-min - 1px !default;

$portrait:   "max-width: #{$screen-xxs-max}";
$phone:      "max-width: #{$screen-xs-max}";
$mobile:     "max-width: #{$screen-sm-max}";
$non-desktop:"max-width: #{$screen-md-max}";
$tablet:     "min-width: #{$screen-sm-min}";
$laptop:     "min-width: #{$screen-md-min}";
$desktop:    "min-width: #{$screen-lg-min}";

:root {
  // PKP theme
  //--color-brand: rgb(10, 43, 85);
  //--color-primary: rgb(255, 0, 0);
  //--color-secondary: rgb(255, 255, 255);
  //--color-error: rgb(255, 0, 0);
  //--color-warning: rgb(255, 200, 0);
  //--color-info: rgba(30, 63, 111);
  //--color-success: rgba(0, 200, 0);
  //--color-text: var(--color-secondary);
  //--color-white-low-opacity: rgba(255, 255, 255, 0.3);
  //--color-white-high-opacity: rgba(255, 255, 255, 0.9);
  //--color-black-low-opacity: rgba(10, 43, 85, 0.3);
  //--color-black-high-opacity: rgba(10, 43, 85, 0.9);
  //--font-family: Helvetica, Arial, sans-serif;
  //--modal-bg: rgb(30, 63, 111);
  //--modal-color: rgba(255, 255, 255);
  //--modal-overlay: var(--color-black-high-opacity);
  //--menu-bg: rgb(255, 255, 255);
  //--menu-color: rgba(30, 30, 30);

  // PKP Intercity theme
  --color-brand: rgb(0, 113, 188);
  --color-primary: rgb(245, 130, 32);
  --color-secondary: rgb(255, 255, 255);
  --color-error: rgb(230, 80, 0);
  --color-warning: rgb(245, 130, 32);
  --color-info: rgba(77, 156, 208);
  --color-success: rgba(50, 200, 50);
  --color-text: var(--color-secondary);
  --color-white-low-opacity: rgba(255, 255, 255, 0.3);
  --color-white-high-opacity: rgba(255, 255, 255, 0.9);
  --color-black-low-opacity: rgba(0, 113, 188, 0.3);
  --color-black-high-opacity: rgba(0, 113, 188, 0.9);

  --font-family: MyriadPro-Regular, Arial, sans-serif;
  --font-family-light: MyriadPro-Light, Arial, sans-serif;
  --font-family-bold: MyriadPro-Bold, Arial, sans-serif;

  --modal-bg: rgb(255, 255, 255);
  --modal-color: rgba(30, 30, 30);
  --modal-overlay: var(--color-black-high-opacity);
  --menu-bg: rgb(255, 255, 255);
  --menu-color: rgba(30, 30, 30);

  --input-border: rgba(77, 156, 208);
  --input-bg: rgb(255, 255, 255);
  --input-color: rgba(30, 30, 30);
}
