$screen-xxs-max: 480px  !default;
$screen-sm-min:  768px  !default;
$screen-md-min:  992px  !default;
$screen-lg-min:  1200px !default;
$screen-xs-max: $screen-sm-min - 1px !default;
$screen-sm-max: $screen-md-min - 1px !default;
$screen-md-max: $screen-lg-min - 1px !default;

$portrait:   "max-width: #{$screen-xxs-max}";
$phone:      "max-width: #{$screen-xs-max}";
$mobile:     "max-width: #{$screen-sm-max}";
$non-desktop:"max-width: #{$screen-md-max}";
$tablet:     "min-width: #{$screen-sm-min}";
$laptop:     "min-width: #{$screen-md-min}";
$desktop:    "min-width: #{$screen-lg-min}";
