<div class="counter">
  <div class="counter-numbers"
       [class.hide]="(timerCount$ | async) === 0"
       [class.warning]="(timerCount$ | async) <= 5"
       [class.error]="(timerCount$ | async) <= 3">
    <span [class.in]="index + 1 === (timerCount$ | async)" *ngFor="let number of (maxCount | fillArray); let index = index">{{index + 1}}</span>
  </div>
  <div class="counter-progress" *ngIf="progress$ | async as progress">
    <span class="counter-progress-bar"
          [class.warning]="progress <= 50"
          [class.error]="progress <= 30"
          [style.width.%]="progress || 0">
    </span>
  </div>
  <div class="counter-message" [class.show]="(timerCount$ | async) === 0">
    <h2 *ngIf="(timerCount$ | async) === 0">TIME OUT</h2>
    <h2 *ngIf="(timerCount$ | async) === null || (timerCount$ | async) === undefined">READY</h2>
  </div>
</div>
