<section class="menu" role="navigation" [class.show]="showMenu$ | async">
  <div class="user-info" *ngIf="user">
    <h1>{{user.firstName}} {{user.surName}} ({{user.userName}})</h1>
    <h2>PKPoints: {{user.pkpoints}}</h2>
  </div>
  <nav class="menu-nav" role="navigation">
    <ul>
      <li>
        <button type="button" class="button button-tertiary" (click)="navigateTo(RoutingAppPages.Dashboard)">
          <fa-icon icon="home"></fa-icon>
          Dashboard
        </button>
      </li>
      <li>
        <button type="button" class="button button-tertiary" (click)="navigateTo(RoutingAppPages.Qr)">
          <fa-icon icon="plus"></fa-icon>
          Add ticket
        </button>
      </li>
      <li>
        <button type="button" class="button button-tertiary" (click)="navigateTo(RoutingAppPages.Dashboard)">
          <fa-icon icon="route"></fa-icon>
          Your trip
        </button>
      </li>
      <li>
        <button type="button" class="button button-tertiary" (click)="navigateTo(RoutingAppPages.Games)">
          <fa-icon icon="question-circle"></fa-icon>
          Quiz
        </button>
      </li>
      <li>
        <button type="button" class="button button-tertiary" (click)="navigateTo(RoutingAppPages.Dashboard)">
          <fa-icon icon="store-alt"></fa-icon>
          PKPoints
        </button>
      </li>
    </ul>
    <button type="button" class="button button-secondary" (click)="logout()">
      <fa-icon icon="sign-out-alt"></fa-icon>
      Log out
    </button>
  </nav>
</section>
