@import 'abstracts/mixins';

$line-size: 5rem;

.user--info {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  margin-top: 1rem;

  line-height: 1.5rem;
  font-size: 1.2rem;

  &-fullname {
    font-weight: 600;
  }

  &-description {
    font-size: 0.9rem;
    color: grey;
  }

  &-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

.badge {
  position: relative;
  display: inline-block;
  overflow: hidden;
  // margin: 0 1rem 0 0;
  width: $line-size;
  height: $line-size;
  border-radius: $line-size;
  // line-height: 2.8rem;
  text-align: center;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  right: 0;
  padding: 60px 20px 20px;
  opacity: 0;
  background: var(--menu-bg);
  color: var(--menu-color);
  transition: all 0.2s ease-in;
  z-index: 11;
  width: 100%;

  &.show {
    transform: translateX(0);
    opacity: 1;

    @include breakpoint($desktop) {
      left: 30%;
      width: auto;
    }
  }

  nav {
    flex-direction: column;

    ul {
      list-style: none;
      margin: 0 0 15px 0;
      padding: 0;

      li:not(:last-of-type) {
        border-bottom: solid 1px var(--color-black-low-opacity);
      }
    }

    .button {
      width: 100%;
      padding: 20px;

      &-tertiary {
        text-align: left;
        // color: var(--color-primary);
      }

      &-has-action {
        &::after {
          content: '';
          position: absolute;
          top: 10px;
          left: 10px;
          display: block;
          width: 15px;
          height: 15px;
          background: var(--color-primary);
          border-radius: 50%;
        }
      }
    }
  }
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s ease-in;
  background: var(--color-black-low-opacity);
  transform: translateX(-100%);
  cursor: pointer;

  &.show {
    opacity: 0.9;
    transform: translateX(0);
  }
}
