<section class="menu" role="navigation" [class.show]="showMenu$ | async">
  <div class="user-info" *ngIf="user">
    <h1>{{user.currentUser.firstName}} {{user.currentUser.lastName}} ({{user.currentUser.email}})</h1>
    <h2>PKPoints: {{user.currentUser.pkpPoints}}</h2>
  </div>
  <nav class="menu-nav" role="navigation">
    <ul>
      <li>
        <button type="button" class="button button-tertiary" (click)="navigateTo(RoutingAppPages.Dashboard)">
          <fa-icon icon="home"></fa-icon>
          Dashboard
        </button>
      </li>
      <li>
        <button type="button" class="button button-tertiary" (click)="navigateTo(RoutingAppPages.Games)">
          <fa-icon icon="gamepad"></fa-icon>
          Games
        </button>
      </li>
      <li>
        <button type="button" class="button button-tertiary button-has-action" (click)="navigateTo(RoutingAppPages.Shop)">
          <fa-icon icon="shopping-basket"></fa-icon>
          Shop
        </button>
      </li>
      <li>
        <button type="button" class="button button-tertiary" (click)="navigateTo(RoutingAppPages.Trophies)">
          <fa-icon icon="trophy"></fa-icon>
          Trophies
        </button>
      </li>
      <li>
        <button type="button" class="button button-tertiary" (click)="navigateTo(RoutingAppPages.Ranking)">
          <fa-icon icon="crown"></fa-icon>
          Ranking
        </button>
      </li>
    </ul>
    <button type="button" class="button button-secondary" (click)="logout()">
      <fa-icon icon="sign-out-alt"></fa-icon>
      Log out
    </button>
  </nav>
</section>
<div class="backdrop" [class.show]="showMenu$ | async" (click)="closeMenu()"></div>
