<div class="loader-overlay" *ngIf="loading$ | async">
  <div class="loader">
    <div class="loader-spinner">
      <span class="loader-spinner-circle"></span>
      <span class="loader-spinner-circle"></span>
      <span class="loader-spinner-circle"></span>
      <span class="loader-spinner-circle"></span>
    </div>
    <ng-container *ngIf="loadRequests$ | async as loadRequests">
      <span class="loader-counter" *ngIf="showCounter">{{loadRequests.count}} / {{loadRequests.maxCount}}</span>
      <span class="loader-message" *ngIf="loadRequests.messages?.length">{{loadRequests.messages[0]}}</span>
    </ng-container>
  </div>
</div>
