<div class="container">
  <aside class="aside">
    <app-card
      icon="lightbulb"
      label="Did You Know?"
      sublabel="Good Student"
      progress="50"
      progressInfo="125 / 250">
      <div class="card-footer">
        <div class="card-footer-item" title="Games played">
          <fa-icon class="icon icon-blue" icon="play"></fa-icon>
          <span class="card-footer-item-result">125</span>
        </div>
      </div>
    </app-card>
  </aside>
  <main role="main" class="main">
    <app-question></app-question>
  </main>
</div>
