<div class="container">
  <app-card icon="shopping-basket" label="Shop">
    <div class="card-footer">
      <div class="card-footer-item">
        Poland
        <span class="card-footer-item-result">#123</span>
      </div>
      <div class="card-footer-item">
        Mazowieckie
        <span class="card-footer-item-result">#54</span>
      </div>
      <div class="card-footer-item">
        Warsaw
        <span class="card-footer-item-result">#12</span>
      </div>
    </div>
  </app-card>
  <main role="main" class="main">
  </main>
</div>
