<div class="container">
  <app-card>
    <div class="card-body">
      <h1 class="level">
        <fa-icon icon="trophy" class="icon"></fa-icon> Level 25
      </h1>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footer-item">
        <h4>Level:</h4>
        <strong>25</strong>
      </div>
      <div class="card-footer-item">
        <h4>Trophies:</h4>
        <strong>12</strong>
      </div>
      <div class="card-footer-item">
        <h4>Ranking:</h4>
        <strong>#10</strong>
      </div>
    </div>
  </app-card>
  <main
        role="main"
        class="main"
        *ngIf="user">
        <section class="dashboard-selector">
          <app-dashboard-button [pathTo]="RoutingAppPages.Qr">
            <fa-icon class="icon" icon="plus"></fa-icon>
            Add a ticket
          </app-dashboard-button>
          <app-dashboard-button [pathTo]="RoutingAppPages.Dashboard">
            <fa-icon class="icon" icon="route"></fa-icon>
            Your trip
          </app-dashboard-button>
          <app-dashboard-button [pathTo]="RoutingAppPages.Quiz">
            <fa-icon class="icon" icon="question-circle"></fa-icon>
            Quiz
          </app-dashboard-button>
          <app-dashboard-button [pathTo]="RoutingAppPages.Dashboard">
            <span>
              <span class="icon icon-important">{{user.pkpoints || 0}}</span>
              PKPoints
            </span>
          </app-dashboard-button>
        </section>
    </main>
</div>
