<div class="container">
    <main
        role="main"
        class="main"
        *ngIf="user">
        <section class="dashboard-user">
            <h2>
                {{user.firstName}} {{user.middleName}} {{user.surName}} ({{user.userName}})
            </h2>
        </section>

        <section class="dashboard-selector">
            <button
                (click)="navigateTo(RoutingAppPages.Qr)"
                type="button"
                class="button button-dashboard button-dashboard-add">
                <fa-icon
                    class="icon"
                    icon="plus"></fa-icon>
                Add a ticket
            </button>
            <button
                type="button"
                class="button button-dashboard">
                <fa-icon
                    class="icon"
                    icon="route">
                </fa-icon>
                Your trip
            </button>
            <button
                type="button"
                class="button button-dashboard"
                (click)="navigateTo(RoutingAppPages.Quiz)">
                <fa-icon
                    class="icon"
                    icon="question-circle">
                </fa-icon>
                Quiz
            </button>
            <button
                type="button"
                class="button button-dashboard">
                <span class="icon icon-important">{{user.pkpoints || 0}}</span>
                PKPoints
            </button>
            <button
                (click)="navigateTo(RoutingAppPages.Progress)"
                type="button"
                class="button button-dashboard">
                <fa-icon
                    class="icon"
                    icon="question-circle">
                </fa-icon>
                Progress
            </button>
        </section>
    </main>
</div>
<app-backdrop backgroundImage="assets/images/ic-1200x740.jpeg"></app-backdrop>
