@import 'abstracts/variables';

:host {
  flex-grow: 1;
  position: relative;
}

.dashboard {
  &-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.level {
  color: var(--color-primary);
  text-align: center;
  font-size: 3rem;
}
