<div class="container" *ngIf="user">
    <app-card
      icon="award"
      label="Train conductor"
      sublabel="Level 25"
      progressInfo="1455 / 2045"
      progress="45">
        <div class="card-footer">
            <div class="card-footer-item">
              <app-currency-icon size="25" [noMargin]="true"></app-currency-icon>
              <span class="card-footer-item-result">{{user.pkpoints || 0}}</span>
            </div>
            <div class="card-footer-item" title="Trophies">
              <fa-icon class="icon icon-brown" icon="trophy"></fa-icon>
              <span class="card-footer-item-result">5 / 124</span>
            </div>
            <div class="card-footer-item" title="ranking">
              <fa-icon class="icon icon-blue" icon="crown"></fa-icon>
              <span class="card-footer-item-result"># 10</span>
            </div>
        </div>
    </app-card>
    <main role="main" class="main">
        <section class="dashboard-selector">
            <app-dashboard-button [pathTo]="RoutingAppPages.Games">
                <fa-icon
                    class="icon"
                    icon="gamepad"></fa-icon>
                Games
            </app-dashboard-button>
            <app-dashboard-button [pathTo]="RoutingAppPages.Shop">
                <app-currency-icon size="40"></app-currency-icon>
                Shop
            </app-dashboard-button>
            <app-dashboard-button [pathTo]="RoutingAppPages.Trophies">
                <fa-icon
                    class="icon"
                    icon="trophy">
                </fa-icon>
                Your trophies
            </app-dashboard-button>
            <app-dashboard-button [pathTo]="RoutingAppPages.Ranking">
              <fa-icon
                class="icon"
                icon="crown">
              </fa-icon>
              Ranking
            </app-dashboard-button>
        </section>
    </main>
</div>
