@import '../../../../../styles/abstracts/variables';

@keyframes hide {
  0% { transform: translate(-50%, -50%) scale(1); }
  100% { transform: translate(-50%, -50%) scale(0); }
}

@keyframes show {
  0% { transform: translate(-50%, -50%) scale(0); }
  80% { transform: translate(-50%, -50%) scale(1.4); }
  100% { transform: translate(-50%, -50%) scale(1); }
}

@keyframes flip {
  0% { transform: translate(-50%, -50%) rotate(120deg); }
  10% { transform: translate(-50%, -50%) rotate(-20deg); }
  20% { transform: translate(-50%, -50%) rotate(10deg); }
  30%, 80% { transform: translate(-50%, -50%) rotate(0deg); }
  90% { transform: translate(-50%, -50%) rotate(20deg); }
  100% { transform: translate(-50%, -50%) rotate(-120deg); }
}

.counter {
  position: relative;
  margin-bottom: 15px;

  .show {
    transform: translate(-50%, -50%) scale(1);
    animation: show .3s ease-in;
  }

  .hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide .2s ease-out;
  }

  &-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  }

  &-numbers {
    color: var(--color-text);
    position: relative;
    font-size: 50px;
    overflow: hidden;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    text-align: center;

    &.warning {
      color: var(--color-warning);
    }

    &.error {
      color: var(--color-error);
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      transform-origin: bottom center;

      &.in {
        transform: translate(-50%, -50%) rotate(0deg);
        animation: flip 1s ease-in-out;
      }
    }
  }

  &-progress {
    display: flex;
    align-items: center;
    justify-content: center;

    &-bar {
      height: 3px;
      background: var(--color-secondary);
      width: 100%;
      transition: all 1s linear;

      &.warning {
        background: var(--color-warning);
      }

      &.error {
        background: var(--color-error);
      }
    }
  }
}
