$point-size: 90%;

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  color: var(--color-primary-contrast);
  height: $point-size;
  width: $point-size;
  border-radius: 50%;
  margin-left: 5px;
  font-size: 1.2rem !important;

  &.no-margin {
    margin: 0;
  }
}
