@import 'abstracts/mixins';

@keyframes pop {
  0% { transform: scale3d(10, 10, 1) rotateZ(45deg); opacity: 0; }
  50% { transform: scale3d(0.5, 0.5, 1) rotateZ(45deg); opacity: 1; }
  100% { transform: scale3d(1, 1, 1) rotateZ(45deg); }
}

.fact {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 20px;
  font-family: var(--font-family-bold);
  font-weight: 700;

  &-icon {
    background: var(--color-success);
    color: var(--color-tertiary);
  }

  &-text {
    position: relative;
    z-index: 1;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    line-height: 1.2;

    @include breakpoint($tablet) {
      font-size: 18px;
    }
  }

  &-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    transform: rotateZ(45deg);
    animation: pop 1s ease;
    border-radius: 4px;

    .icon {
      transform: rotateZ(-45deg);
      font-size: 2rem;
    }
  }
  &-footer {
     text-align: center;
     padding: 20px;

    .button {
      width: 100%;
    }
   }
}
