<div class="container">
  <app-card
    icon="gamepad"
    label="Games"
    sublabel="Quiz ambassador"
    progress="50"
    progressInfo="125 / 250">
    <div class="card-footer">
      <div
        class="card-footer-item"
        title="Games played">
        <fa-icon
          class="icon icon-blue"
          icon="play"></fa-icon>
        <span class="card-footer-item-result">125</span>
      </div>
      <div
        class="card-footer-item"
        title="Games won">
        <fa-icon
          class="icon icon-yellow"
          icon="medal"></fa-icon>
        <span class="card-footer-item-result">15</span>
      </div>
      <div
        class="card-footer-item"
        title="Success rate">
        <div>
          <fa-icon
            class="icon icon-green"
            icon="thumbs-up"></fa-icon>
        </div>
        <span class="card-footer-item-result">
          {{(user.currentUser.correctQuestionSum / user.currentUser.inCorrectQuestionSum)*100}} %
        </span>
      </div>
    </div>
  </app-card>
  <main
    role="main"
    class="main">
    <section class="dashboard-selector">
      <app-dashboard-button
        [pathTo]="RoutingGamesPages.Quiz"
        [relative]="true">
        <fa-icon
          class="icon"
          icon="question-circle"></fa-icon>
        Quiz
      </app-dashboard-button>
    </section>
  </main>
</div>
