<div class="container">
  <app-card
    icon="trophy"
    label="Trophies">
    <div class="card-footer"></div>
  </app-card>
  <main
    role="main"
    class="main">

    <ul class="trophies--list">
      <li>
        <div class="trophies--badge">
          <img
            class="trophies--icon"
            src="/assets/images/badges/60.png">
        </div>
        <div class="trophies--description">
          some fancy dectription
          <app-progressbar progress="25"></app-progressbar>
        </div>
      </li>
      <li>
        <div class="trophies--badge">
          <img
            class="trophies--icon"
            src="/assets/images/badges/70.png">
        </div>
        <div class="trophies--description">
          some fancy dectription
          <app-progressbar progress="85"></app-progressbar>
        </div>
      </li>
      <li>
        <div class="trophies--badge">
          <img
            class="trophies--icon"
            src="/assets/images/badges/80.png">
        </div>
        <div class="trophies--description">
          some fancy dectription
          <app-progressbar progress="35"></app-progressbar>
        </div>
      </li>
      <li>
        <div class="trophies--badge">
          <img
            class="trophies--icon"
            src="/assets/images/badges/10.png">
        </div>
        <div class="trophies--description">
          some fancy dectription
          <app-progressbar progress="75"></app-progressbar>
        </div>
      </li>
      <li>
        <div class="trophies--badge">
          <img
            class="trophies--icon"
            src="/assets/images/badges/20.png">
        </div>
        <div class="trophies--description">
          some fancy dectription
          <app-progressbar progress="95"></app-progressbar>
        </div>
      </li>
    </ul>
  </main>
</div>
