<div class="stepList--box">
  <div class="stepList--header">LeaderBear</div>
  <ul
    class="stepList--wrapper"
    [@listAnimation]="progressArray.length">
    <li *ngFor="let item of progressArray; let first = first; index as i">
      <div class="badge">
        <span>
          <img
            alt="smth"
            [src]="'/assets/images/avatars/'+ item.icon +'.png'">
        </span>

      </div>
      <div class="stepList--description">{{item.title}}</div>
      <div class="stepList--point">
        <div>
          <p>546554 pts</p>
          <p class="stepList--point-level">Level 11</p>
        </div>
      </div>
    </li>
  </ul>
</div>
