<div class="stepList--box">
    <ul class="stepList--wrapper">
        <li>
            <div class="badge">
                <span>
                    <fa-icon
                        class="icon"
                        icon="meh-rolling-eyes">
                    </fa-icon>
                </span>
            </div>
            step1qweqewqeqwewqewq
        </li>
        <li>
            <div class="badge">
                <span>
                    <fa-icon
                        class="icon"
                        icon="meh-rolling-eyes">
                    </fa-icon>
                </span>
                <div class="badge--vl"></div>
            </div>
            step1
        </li>
        <li>
            <div class="badge active">
                <span>
                    <fa-icon
                        class="icon"
                        icon="smile-beam">
                    </fa-icon>
                </span>
                <div class="badge--vl"></div>
            </div>
            step1
        </li>
        <li>
            <div class="badge inactive">
                <span>
                    <fa-icon
                        class="icon"
                        icon="smile-beam">
                    </fa-icon>
                </span>
                <div class="badge--vl"></div>
            </div>
            step1
        </li>
        <li>
            <div class="badge inactive">
                <span>
                    <fa-icon
                        class="icon"
                        icon="laugh">
                    </fa-icon>
                </span>
                <div class="badge--vl"></div>
            </div>
            step1
        </li>
        <li>
            <div class="badge inactive">
                <span>
                    <fa-icon
                        class="icon"
                        icon="laugh">
                    </fa-icon>
                </span>
                <div class="badge--vl"></div>
            </div>
            step1
        </li>
        <li>
            <div class="badge inactive">
                <span>
                    <fa-icon
                        class="icon"
                        icon="grin-hearts">
                    </fa-icon>
                </span>
                <div class="badge--vl"></div>
            </div>
            step1
        </li>

        <li>
            <div class="badge inactive">
                <span>
                    <fa-icon
                        class="icon"
                        icon="grin-hearts">
                    </fa-icon>
                </span>
                <div class="badge--vl"></div>
            </div>
            step1
        </li>
    </ul>
</div>
