$line-size: 3rem;

p {
    margin: 0.2rem 0;
    color: var(--color-primary);
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin: 1rem 0;
}

.stepList--wrapper {
  padding: 0 1rem;
}

.stepList--wrapper li {
    list-style: none;
    display: flex;
    justify-content: left;
}

.stepList--description, .stepList--point {
  border-bottom: 1px grey dashed;
}

.stepList--description {
    width: 40%;
}

.stepList--point {
    font-size: 2rem;
    color: var(--color-primary);
    width: 40%;
    text-align: right;
}

.badge {
    margin: 0 1rem 0 0;
    width: $line-size;
    height: $line-size;
    border-radius: $line-size;
    border: 2px solid;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;

    .badge--vl {
        top: -4rem;
        position: relative;
        left: 1.3rem;
        border-left: 4px solid white;
        height: 1.2rem;
    }
}

.active {
    color: var(--color-success);
}

.inactive {
    color: var(--color-inactive);
}
.current {
    color: var(--color-info);
}
