:host {
  font-size: 12px;
  color: var(--color-text);
}

@keyframes progress {
  from {
    width: 0;
  }
}

.progress {
  width: 100%;
  border-radius: 3px;
  background: var(--color-black-low-opacity);
  margin: 2px 0;
  overflow: hidden;
  position: relative;

  &-bar {

    animation: progress 2s ease-in-out alternate;
    -webkit-animation: progress 2s ease-in-out alternate;

    background: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  &-info {
    display: block;
    margin-top: 5px;
    text-align: right;
  }
}
